<div class="wrapper">

	<div class="row">
		<div class="c8 s2">
			<h2>Common questions</h2>
			<%= link_to "Add a question", new_question_path %>

			<% @questions.each do |question| %>
				<h1><%= link_to "#{question.question}", question_path(question) %></h1>
				<p><%= question.answer %></p>
			<% end %>
		</div>
	</div>
</div>