
<div>

<h2><%= @service.name %></h2>
<p><%= @service.description.html_safe %></p>


<a id="hide">Hide</a>

</div>

<script>
$(document).ready(function(){
    $("#hide").click(function(){
        $("#service-detail").hide();
    });
    $("#show").click(function(){
        $("p").show();
    });
});
</script>