<div class="wrapper">

	<div class="row">
		<div class="c8 s2">
			<h2>Services</h2>
			<% @services.each do |service| %>
				<h1><%= link_to "#{service.name}", service_path(service) %></h1>
				<p><%= service.description.html_safe %></p>
			<% end %>
			<%= link_to "Add a service", new_service_path, class: "button" %>
		</div>
	</div>
</div>