

<div class="wrapper">
	<section  class="padded">
		<div class="row">
			<div class="c8">
				<h1>Our services</h1>
				<p>There are many ways we can help our clients.</p>
			</div>
		</div>

		<div class="row">
			<% @services.each do |service| %>
				<div class="c3 service-box">
					<%= link_to service.name, service, remote: true, class: "ajax", rel: "service" %>
				</div>
			<% end %>
		</div>

		<% if logged_in? %>
		<div class="admin-tools center small-copy push-top faded">
			<%= link_to "Add a service", new_service_path %>
		</div>
		<% end %>
	</section>
</div>



<script>
	$(document).ready(function(){
		$(".ajax").colorbox({rel:'service'});
	});
</script>