

<section id="hero" class="dark half-padded">
	<div class="wrapper push-top-half">
		<div class="row">
			<div class="c6">
				<h2>Our services</h2>
				<p>There are many ways we can help...</p>
			</div>
		</div>
	</div>
</section>

<section class="padded">

	<div class="wrapper">
		<div class="row">
			<div class="c12">
			<% @services.each do |service| %>
				<div class="service-box c4">
					<%= link_to service_path(service) do %>
					<h4><%= service.name %></h4>
					<p class="faded"><%= truncate(service.description, :length => 100) %></p>
					<% end %>
				</div>
			<% end %>
			</div>
		</div>

		<% if logged_in? %>
		<div class="admin-tools center small-copy push-top faded">
			<%= link_to "Add a service", new_service_path %>
		</div>
		<% end %>
	</div>
</section>




<script>
	$(document).ready(function(){
		$(".ajax").colorbox({rel:'service'});
	});
</script>