<div class="wrapper">

	<div class="row push-top">
		<% @services.each do |service| %>
			<div class="c2 service-box">
				<p><%= link_to "#{service.name}", service_path(service) %></p>
			</div>
		<% end %>
	</div>
	<div class="row">
		<div class="c12">
			<%= link_to "Add a service", new_service_path, class: "button" %>
		</div>
	</div>
</div>



