<div class="wrapper">

	<div class="row">
		<div class="c8 s2">
			<h1>Log in</h1>

			<%= simple_form_for :session, url: session_path, method: :post do |f| %>

				<%= f.input :email %>
				<%= f.input :password %>

				<%= f.button :submit, "Log in" %>

			<% end %>

		</div>
	</div>
</div>