/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
/* line 2, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/reset.css.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 2, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/reset.css.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 2, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/reset.css.scss */
body {
  line-height: 1;
}

/* line 2, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/reset.css.scss */
ol, ul {
  list-style: none;
}

/* line 2, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/reset.css.scss */
blockquote, q {
  quotes: none;
}

/* line 2, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/reset.css.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

/* line 2, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/reset.css.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 2, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
* {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* line 10, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
html {
  height: 100%;
}

/* line 14, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
body {
  font-family: "museo-sans", sans-serif;
  color: #293243;
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
  height: 100%;
  font-size: 16px;
  line-height: 1.6;
  height: 100%;
}

/* line 26, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
h1 {
  font-family: "museo-sans", sans-serif;
  font-size: 48px;
  font-weight: 100;
  margin-bottom: 1em;
  line-height: 1.2;
}

/* line 34, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
h2 {
  font-family: "museo-sans", sans-serif;
  font-size: 32px;
  font-weight: 300;
  margin: 0 0 1em;
}

/* line 41, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
.faded {
  color: #a4b0c7;
}

/* line 45, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
h3 {
  font-family: "museo-sans", sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.2;
  margin: 0 0 1em;
}

/* line 53, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
h4 {
  font-weight: 500;
  margin-bottom: 10px;
  font-size: 1.2em;
}

/* line 59, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
h5 {
  font-weight: 500;
  font-size: 12px;
  color: #a4b0c7;
  text-transform: uppercase;
  margin-bottom: 1em;
}

/* line 67, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
p {
  font-size: 1em;
  margin-bottom: 2em;
}

/* line 72, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
p.no-margin {
  margin-bottom: 0;
}

/* line 76, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
img {
  max-width: 100%;
}

/* line 81, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
a,
input {
  text-decoration: none;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  color: #1fa9dc;
  outline: 0;
}

/* line 92, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
em {
  font-style: italic;
}

/* line 96, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
strong {
  font-weight: 900;
}

/* line 100, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
a:hover {
  color: #293243;
}

/* line 105, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
a.button,
input.button {
  background-color: #1fa9dc;
  color: white;
  padding: 23px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 30px 0;
  display: inline-block;
  cursor: pointer;
  border: 1px solid #167599;
}

/* line 119, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
a.button:hover,
input.button:hover {
  background-color: #1fa9dc;
  color: #fff;
}

/* line 124, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
.center {
  text-align: center;
}

/* line 130, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
.wrapper {
  max-width: 1400px;
  padding: 0 60px;
  margin: 0 auto;
}

/* line 136, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
.dark-bg {
  background-color: #1fa9dc;
}

/* line 140, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
.panel-alt {
  background-color: #1f2633;
  color: #a2a2a2;
  padding: 30px;
  font-size: 16px;
}

/* line 147, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
.panel-alt p:last-child {
  margin-bottom: 0;
}

/* line 152, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
header {
  color: #293243;
  overflow: hidden;
  z-index: 300;
  position: absolute;
  padding: 40px 0;
  width: 100%;
  font-size: 14px;
}

/* line 162, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
header #logo {
  float: left;
}

/* line 166, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
header nav {
  float: left;
  margin-left: 20px;
}

/* line 171, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
header nav li {
  float: left;
  font-size: 14px;
  margin-right: 15px;
}

/* line 177, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
header a {
  color: white;
  font-weight: 500;
  padding: 10px 0 2px;
  display: inline-block;
  border-bottom: 2px solid transparent;
}

/* line 186, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
header a:hover,
header a.selected {
  border-bottom: 2px solid white;
  color: white;
  opacity: 0.7;
}

/* line 192, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
header #logo {
  display: inline-block;
  margin: 0;
}

/* line 197, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
header #logo a {
  background-image: url("../assets/marshall-havard.png");
  width: 40px;
  height: 40px;
  text-indent: -9999px;
  padding: 0;
}

/* line 205, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
header .right {
  float: right;
  margin-left: 20px;
}

/* line 210, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
header .row {
  margin-bottom: 0;
}

/* line 214, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
header .btn {
  float: right;
  border: 2px solid white;
  color: white;
}

/* line 220, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
.btn {
  padding: 8px 10px;
  border: 2px solid #1fa9dc;
  color: #1fa9dc;
  border-radius: 3px;
}

/* line 227, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
.btn:hover {
  background-color: #1fa9dc;
  color: white;
}

/* line 239, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
footer {
  background-color: white;
  padding: 2em 0;
}

/* line 244, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
footer .row {
  margin-bottom: 0;
}

/* line 248, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
footer a {
  color: white;
  font-size: 13px;
  text-transform: uppercase;
  display: block;
  padding: 7px 0;
}

/* line 256, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
footer .clients a {
  color: #94a2be;
}

/* line 261, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
footer a:hover,
footer .clients a:hover {
  color: #1fa9dc;
}

/* line 265, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
#newsletter {
  background-color: #333e53;
  color: white;
  width: 100%;
  padding: 30px;
  font-size: 16px;
  overflow: hidden;
  border-radius: 3px;
}

/* line 275, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
#newsletter .mc-field-group input {
  width: 70%;
  float: left;
}

/* line 280, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
#newsletter .button {
  width: 30%;
  float: left;
  margin: 0;
}

/* line 288, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
#logo-small {
  display: inline-block;
  margin: 60px 0;
}

/* line 293, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
#logo-small a {
  background-image: url("../assets/marshall-havard.png");
  width: 40px;
  height: 40px;
  text-indent: -9999px;
  padding: 0;
  display: block;
}

/* line 303, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
#logo-medium {
  display: inline-block;
  margin: 60px 0;
}

/* line 308, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
#logo-medium a {
  background-image: url("../assets/marshall-havard-medium.png");
  width: 69px;
  height: 69px;
  text-indent: -9999px;
  padding: 0;
  display: block;
}

/* line 317, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
#logo-large {
  display: inline-block;
  margin: 60px 0;
}

/* line 322, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
#logo-large a {
  background-image: url("../assets/marshall-havard-large.png");
  width: 135px;
  height: 135px;
  text-indent: -9999px;
  padding: 0;
  display: block;
}

/* line 334, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
.success,
.error,
.summary {
  font-size: 14px;
  color: #fff;
  padding: 10px 5px;
  background-color: #293243;
}

/* line 343, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
.success p,
.error p,
.summary p {
  margin-bottom: 0;
}

/* line 348, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
a.small {
  font-size: 12px;
  text-transform: uppercase;
}

/* line 353, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
a.danger {
  background-color: #d1440c;
}

/* line 357, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
a.danger:hover {
  background-color: #293243;
}

/* line 362, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
.panel {
  padding: 30px;
  background-color: #ffffff;
  margin-bottom: 20px;
  overflow: hidden;
}

/* line 369, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
.summary .panel {
  background-color: #000;
}

/* line 375, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
.breadcrumbs,
.share {
  padding-top: 30px;
  font-size: 14px;
}

/* line 380, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
.share {
  text-align: right;
}

/* line 386, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
.nav-previous a,
.nav-next a {
  height: 100%;
  width: 100%;
  display: inline-block;
  background-color: #eeeeee;
}

/* line 395, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
a.selected {
  color: #a2adb0;
}

/* line 399, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
.border-top {
  border-top: 1px solid #dde2e4;
  padding-top: 2em;
}

/* line 404, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
.small-copy {
  font-size: 16px;
}

/* line 410, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
#big-menu-content {
  text-align: center;
  font-size: 2em;
  padding-top: 40px;
}

/* line 416, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
.twitter {
  background-image: url("../assets/twitter.png");
  width: 31px;
  height: 25px;
  display: inline-block;
  text-indent: -9999px;
  margin-top: 25px;
}

/* line 429, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
#hero {
  background-color: #1fa9dc;
  overflow: hidden;
}

/* line 434, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
#hero h1 {
  color: #fff;
}

/* line 438, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
#hero h1.narrow {
  width: 600px;
}

/* line 442, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
#hero p {
  font-size: 18px;
  width: 66%;
  margin: 0 auto;
}

/* line 453, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
.top {
  display: none;
  float: right;
}

/* line 458, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
#features .image {
  height: 200px;
}

/* line 464, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
#features .first,
#features .second,
#features .third {
  padding: 180px 0;
  overflow: hidden;
}

/* line 469, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
#features .first .image {
  background: url("../assets/first-illustration.png") top center no-repeat;
}

/* line 473, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
#features .second .image {
  background: url("../assets/first-illustration.png") top center no-repeat;
}

/* line 477, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
#features .third .image {
  background: url("../assets/first-illustration.png") top center no-repeat;
}

/* line 483, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
section {
  margin-bottom: 0px;
}

/* line 487, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
.dark {
  background-color: #293243;
  color: white;
}

/* line 492, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
.blue {
  background-color: #1fa9dc;
  color: white;
}

/* line 497, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
.secondary {
  background-color: #f2992e;
  color: white;
}

/* line 502, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
.tertiary {
  background-color: #56bc8a;
  color: white;
}

/* line 507, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
.light {
  background-color: #eeeeee;
}

/* line 512, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
.panel-alt {
  padding: 30px;
  font-size: 16px;
}

/* line 517, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
.panel-alt p:last-child {
  margin-bottom: 0;
}

/* line 521, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
.dark .panel-alt {
  background-color: #1f2633;
  color: #a2a2a2;
}

/* line 526, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
.secondary .panel-alt {
  background-color: #f18d16;
  color: #fbdfbe;
}

/* line 531, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
.secondary .panel-alt a {
  color: white;
}

/* line 535, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
.blue .panel-alt {
  background-color: #1c98c6;
  color: #d4d4d4;
}

/* line 540, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
.blue .panel-alt a {
  color: #293243;
}

/* line 544, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
.light .panel-alt {
  background-color: #e1e1e1;
  color: #3c4a63;
}

/* line 557, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
.admin-tools {
  margin-bottom: 40px;
}

@media screen and (min-width: 900px) {
  /* line 566, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
  .js .nav-collapse {
    position: relative;
  }

  /* line 569, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
  .js .nav-collapse.closed {
    max-height: none;
  }

  /* line 572, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
  .nav-toggle {
    display: none;
  }
}
@media only screen and (max-width: 900px) {
  /* line 580, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
  .wrapper {
    padding: 0 10px;
  }

  /* line 585, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
  h1 {
    font-size: 42px;
  }

  /* line 589, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
  nav.nav-collapse {
    width: 100%;
  }

  /* line 593, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
  nav.nav-collapse ul {
    margin: 0;
    padding: 20px 0;
    width: 100%;
    display: block;
    list-style: none;
    overflow: hidden;
  }

  /* line 602, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
  nav.nav-collapse ul li {
    width: 100%;
    display: block;
    margin-left: 0;
    text-align: center;
  }

  /* line 609, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
  nav.nav-collapse ul li a {
    width: 100%;
    display: block;
    padding: 30px;
  }

  /* line 617, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
  .js .nav-collapse {
    clip: rect(0 0 0 0);
    max-height: 0;
    position: absolute;
    display: block;
    overflow: hidden;
    zoom: 1;
  }

  /* line 626, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
  .nav-collapse.opened {
    max-height: 9999px;
  }

  /* line 630, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
  .disable-pointer-events {
    pointer-events: none !important;
  }

  /* line 634, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
  .nav-toggle {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    float: right;
    color: #1fa9dc;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
  }

  /* line 649, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
  .nav-toggle:hover {
    color: #293243;
  }

  /* line 656, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
  #hero h1.narrow {
    width: 92%;
  }

  /* line 661, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
  #hero p {
    width: 92%;
  }

  /* line 666, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
  footer .c3 {
    width: 50%;
  }

  /* line 671, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
  #newsletter {
    margin-top: 20px;
    padding: 15px;
  }
}
@media screen and (max-height: 650px) {
  /* line 685, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
  #big-menu-content {
    text-align: center;
    font-size: 1.5em;
    padding-top: 0;
  }
}
/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
/* line 699, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
#colorbox, #cboxOverlay, #cboxWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;
}

/* line 700, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
#cboxWrapper {
  max-width: none;
}

/* line 701, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
#cboxOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
}

/* line 702, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
#cboxMiddleLeft, #cboxBottomLeft {
  clear: left;
}

/* line 703, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
#cboxContent {
  position: relative;
}

/* line 704, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
#cboxLoadedContent {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

/* line 705, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
#cboxTitle {
  margin: 0;
}

/* line 706, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
#cboxLoadingOverlay, #cboxLoadingGraphic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 707, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
  cursor: pointer;
}

/* line 708, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
.cboxPhoto {
  float: left;
  margin: auto;
  border: 0;
  display: block;
  max-width: none;
  -ms-interpolation-mode: bicubic;
}

/* line 709, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
.cboxIframe {
  width: 100%;
  height: 100%;
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
}

/* line 710, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
#colorbox, #cboxContent, #cboxLoadedContent {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}

/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
/* line 717, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
#cboxOverlay {
  background: url(../assets/overlay.png) repeat 0 0;
  opacity: 1;
  filter: alpha(opacity=100);
}

/* line 718, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
#colorbox {
  outline: 0;
}

/* line 719, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
#cboxBottomCenter {
  height: 21px;
}

/* line 720, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
#cboxContent {
  background: #fff;
  overflow: hidden;
}

/* line 721, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
.cboxIframe {
  background: #fff;
}

/* line 722, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
#cboxError {
  padding: 50px;
  border: 1px solid #ccc;
}

/* line 723, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
#cboxLoadedContent {
  margin-bottom: 28px;
}

/* line 724, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
#cboxTitle {
  position: absolute;
  bottom: 4px;
  left: 0;
  text-align: center;
  width: 100%;
  color: #949494;
}

/* line 725, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
#cboxCurrent {
  position: absolute;
  bottom: 4px;
  left: 58px;
  color: #949494;
}

/* line 726, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
#cboxLoadingOverlay {
  background: url(../assets/loading_background.png) no-repeat center center;
}

/* line 727, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
#cboxLoadingGraphic {
  background: url(../assets/loading.gif) no-repeat center center;
}

/* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
/* line 730, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {
  border: 0;
  padding: 0;
  margin: 0;
  overflow: visible;
  width: auto;
  background: none;
}

/* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
/* line 733, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
#cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {
  outline: 0;
}

/* line 735, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
#cboxSlideshow {
  position: absolute;
  top: 4px;
  right: 30px;
  color: #0092ef;
}

/* line 736, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
#cboxPrevious {
  position: absolute;
  top: 0;
  left: 0;
  background: url(../assets/controls.png) no-repeat -75px 0;
  width: 25px;
  height: 25px;
  text-indent: -9999px;
}

/* line 737, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
#cboxPrevious:hover {
  background-position: -75px -25px;
}

/* line 738, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
#cboxNext {
  position: absolute;
  top: 0;
  left: 27px;
  background: url(../assets/controls.png) no-repeat -50px 0;
  width: 25px;
  height: 25px;
  text-indent: -9999px;
}

/* line 739, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
#cboxNext:hover {
  background-position: -50px -25px;
}

/* line 740, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
#cboxClose {
  position: absolute;
  top: 0;
  right: 0;
  background: url(../assets/controls.png) no-repeat -25px 0;
  width: 25px;
  height: 25px;
  text-indent: -9999px;
}

/* line 741, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
#cboxClose:hover {
  background-position: -25px -25px;
}

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to or needed in IE9.
  See: http://jacklmoore.com/notes/ie-transparency-problems/
*/
/* line 755, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/global.css.scss */
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}

/* line 5, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/grid.css.scss */
.row {
  width: 100%;
  overflow: hidden;
  padding: 0 50px;
  margin-bottom: 30px;
}

/* line 12, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/grid.css.scss */
.row.no-margin {
  margin-bottom: 0;
}

/* line 17, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/grid.css.scss */
.row:before,
.row:after {
  content: '';
  display: table;
  clear: both;
}

/* line 23, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/grid.css.scss */
.c1 {
  width: 8.33333%;
}

/* line 27, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/grid.css.scss */
.c2 {
  width: 16.66667%;
}

/* line 31, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/grid.css.scss */
.c3 {
  width: 25%;
}

/* line 35, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/grid.css.scss */
.c4 {
  width: 33.33333%;
}

/* line 39, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/grid.css.scss */
.c5 {
  width: 41.66667%;
}

/* line 43, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/grid.css.scss */
.c6 {
  width: 50%;
}

/* line 47, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/grid.css.scss */
.c7 {
  width: 58.33333%;
}

/* line 51, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/grid.css.scss */
.c8 {
  width: 66.66667%;
}

/* line 55, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/grid.css.scss */
.c9 {
  width: 75%;
}

/* line 59, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/grid.css.scss */
.c10 {
  width: 83.33333%;
}

/* line 63, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/grid.css.scss */
.c11 {
  width: 91.66667%;
}

/* line 67, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/grid.css.scss */
.c12 {
  width: 100%;
}

/* line 83, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/grid.css.scss */
.c1,
.c2,
.c3,
.c4,
.c5,
.c6,
.c7,
.c8,
.c9,
.c10,
.c11,
.c12 {
  position: relative;
  float: left;
  min-height: 1px;
}

/* line 89, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/grid.css.scss */
.fake-row {
  padding-left: 10px;
  padding-right: 10px;
}

/* line 94, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/grid.css.scss */
.s1 {
  margin-left: 8.33333%;
}

/* line 98, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/grid.css.scss */
.s2 {
  margin-left: 16.66667%;
}

/* line 102, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/grid.css.scss */
.s3 {
  margin-left: 25%;
}

/* line 106, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/grid.css.scss */
.s4 {
  margin-left: 33.33333%;
}

/* line 110, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/grid.css.scss */
.s5 {
  margin-left: 41.66667%;
}

/* line 114, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/grid.css.scss */
.s6 {
  margin-left: 50%;
}

/* line 118, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/grid.css.scss */
.s7 {
  margin-left: 58.33333%;
}

/* line 122, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/grid.css.scss */
.s8 {
  margin-left: 66.66667%;
}

/* line 126, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/grid.css.scss */
.s9 {
  margin-left: 75%;
}

/* line 130, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/grid.css.scss */
.s10 {
  margin-left: 83.33333%;
}

/* line 134, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/grid.css.scss */
.s11 {
  margin-left: 91.66667%;
}

/* line 138, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/grid.css.scss */
.s12 {
  margin-left: 100%;
}

/* line 142, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/grid.css.scss */
.push-top {
  margin-top: 5em;
}

/* line 146, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/grid.css.scss */
.half-padded {
  padding: 80px 0;
}

/* line 150, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/grid.css.scss */
.padded {
  padding: 80px 0;
}

/* line 154, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/grid.css.scss */
.big-padded {
  padding: 220px 0 20px;
}

@media only screen and (max-width: 500px) {
  /* line 176, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/grid.css.scss */
  .c1,
  .c2,
  .c3,
  .c4,
  .c5,
  .c6,
  .c7,
  .c8,
  .c9,
  .c10,
  .c11,
  .c12 {
    width: 100%;
  }

  /* line 191, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/grid.css.scss */
  .s1,
  .s2,
  .s3,
  .s4,
  .s5,
  .s6,
  .s7,
  .s8,
  .s9,
  .s10,
  .s11,
  .s12 {
    margin-left: 0;
  }

  /* line 195, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/grid.css.scss */
  .padded {
    padding: 60px 0;
  }
}
/* line 4, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/forms.css.scss */
form {
  width: 100%;
  color: #293243;
}

/* line 9, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/forms.css.scss */
form h2 {
  padding-left: 15px;
}

/* line 13, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/forms.css.scss */
form p {
  width: 100%;
  font-size: 14px;
  margin: 10px 0;
  color: #8495b4;
}

/* line 20, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/forms.css.scss */
form section {
  margin-bottom: 50px;
}

/* line 24, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/forms.css.scss */
label {
  padding: 25px 0 5px;
  display: inline-block;
  font-weight: 500;
}

/* line 32, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/forms.css.scss */
input,
textarea,
select {
  font-family: "museo-sans", sans-serif;
  font-size: 16px;
  color: #293243;
  width: 100%;
  padding: 10px;
  border: 0;
  border: 1px solid #ddd;
}

/* line 43, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/forms.css.scss */
select,
input {
  height: 60px;
}

/* line 47, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/forms.css.scss */
input.button {
  width: auto;
  border: none;
  height: auto;
}

/* line 53, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/forms.css.scss */
textarea {
  height: 300px;
}

/* line 58, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/forms.css.scss */
input:focus,
textarea:focus {
  outline: none;
  background-color: #cfedf8;
  border: 1px solid #1fa9dc;
}

/* line 64, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/forms.css.scss */
input.boolean {
  width: 30px;
  height: auto;
}

/* line 2, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/services.css.scss */
div.service-box {
  overflow: visible;
}

/* line 6, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/services.css.scss */
div.service-box a {
  color: #293243;
  font-weight: 300;
  width: 100%;
  display: inline-block;
  padding: 15px;
  position: relative;
}

/* line 15, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/services.css.scss */
div.service-box p {
  margin-bottom: 0;
}

/* line 21, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/services.css.scss */
#service-content {
  text-align: center;
}

/* line 25, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/services.css.scss */
.pagination a {
  color: white;
}

/* line 2, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/sessions.css.scss */
.login {
  text-align: center;
}

/* line 6, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/sessions.css.scss */
.login form {
  text-align: left;
}

/* line 3, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/landing.css.scss */
#landing {
  background-color: #1fa9dc;
  width: 100%;
  height: 100%;
}

/* line 12, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/landing.css.scss */
#landing h1 span {
  color: #ffffff;
  display: block;
  font-weight: 300;
}

/* line 18, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/landing.css.scss */
#landing p {
  width: 67%;
  color: #cfedf8;
}

/* line 23, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/landing.css.scss */
#landing p a {
  color: #ffffff;
  border-bottom: 1px solid #fff;
}

/* line 28, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/landing.css.scss */
#landing p a:hover {
  color: #293243;
  border-bottom: 1px solid #293243;
}

/* line 34, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/landing.css.scss */
#landing #wrap {
  min-height: 100%;
  max-width: 1300px;
  padding: 0 60px;
  margin: 0 auto;
}

/* line 41, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/landing.css.scss */
#landing #main {
  overflow: auto;
  padding-bottom: 60px;
}

/* line 46, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/landing.css.scss */
#landing #footer {
  position: relative;
  height: 60px;
  clear: both;
  max-width: 1300px;
  padding: 0 60px;
  margin: -60px auto 0;
}

/* line 55, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/landing.css.scss */
#landing #footer a {
  color: #293243;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

/* line 62, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/landing.css.scss */
#landing #footer a:hover {
  color: #ffffff;
}

/* line 8, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/pages.css.scss */
#hero.home {
  padding: 200px 0 100px;
  margin-bottom: 0;
}

/* line 13, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/pages.css.scss */
#hero.home h1 {
  width: 100%;
  font-size: 64px;
  margin-bottom: 0;
  text-align: center;
}

/* line 20, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/pages.css.scss */
#hero.home h2 {
  color: #000;
  width: 66%;
  margin: 0 auto;
  text-align: center;
}

/* line 27, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/pages.css.scss */
#hero.home h2 span {
  color: white;
  display: block;
}

/* line 32, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/pages.css.scss */
#hero.home h2 span strong {
  color: #1fa9dc;
}

/* line 36, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/pages.css.scss */
#hero.home p {
  font-size: 18px;
  color: #cccccc;
  text-align: center;
  font-weight: 500;
  margin: 0 auto;
}

/* line 44, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/pages.css.scss */
#hero p.caption {
  font-size: 16px;
  width: 66%;
  margin: 180px auto 0;
}

/* line 50, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/pages.css.scss */
#hero.home {
  background-color: #293243;
}

/* line 54, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/pages.css.scss */
header.home {
  background: none;
  margin-bottom: 200px;
  border-bottom: none;
}

/* line 60, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/pages.css.scss */
header.home a {
  color: #eeeeee;
}

/* line 64, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/pages.css.scss */
header.home a:hover {
  color: #1fa9dc;
  background-color: #eeeeee;
}

/* line 69, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/pages.css.scss */
header.home #logo a {
  background-image: url("../assets/marshall-havard-white.png");
}

/* line 73, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/pages.css.scss */
header.home #logo a:hover {
  background-color: transparent;
}

/* line 79, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/pages.css.scss */
#client-logos {
  background-color: #eeeeee;
  height: 200px;
  width: 100%;
  margin: 60px 0 0 0;
}

/* line 86, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/pages.css.scss */
#contact-us {
  background-color: #1fa9dc;
  padding: 100px 0;
  color: white;
  width: 100%;
}

/* line 93, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/pages.css.scss */
#contact-us h3 {
  margin-bottom: 0;
}

/* line 101, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/pages.css.scss */
#team img {
  margin-bottom: 1em;
}

/* line 6, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/clients.css.scss */
#client-list h1 {
  margin-bottom: 10px;
}

/* line 10, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/clients.css.scss */
#client-list li a {
  padding: 50px 0 40px;
  margin-bottom: 1px;
  display: block;
  background-color: #fafafa;
}

/* line 17, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/clients.css.scss */
#client-list li a:hover {
  background-color: #1fa9dc;
  color: #ffffff;
}

/* line 31, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/clients.css.scss */
#content.sheet {
  background-color: #1fa9dc;
  padding: 100px 0;
}

/* line 36, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/clients.css.scss */
.sheet .panel {
  padding: 0;
  margin-bottom: 0;
}

/* line 43, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/clients.css.scss */
#actions.row {
  margin-bottom: 0;
}

/* line 47, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/clients.css.scss */
#actions {
  font-weight: 500;
  color: #eeeeee;
}

/* line 51, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/clients.css.scss */
#actions a {
  color: #1fa9dc;
}

/* line 55, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/clients.css.scss */
.sheet h1 {
  margin-bottom: 0;
}

/* line 59, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/clients.css.scss */
.more-help {
  text-align: center;
  padding-top: 60px;
  margin-top: 60px;
  border-top: 1px solid #e7ecef;
}

/* line 67, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/clients.css.scss */
.sheet .padded {
  padding: 60px 0;
}

/* line 72, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/clients.css.scss */
#sheets a {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  color: #293243;
}

/* line 81, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/clients.css.scss */
#sheets .panel {
  height: 300px;
  margin: 10px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  border: 1px solid #eeeeee;
  border-radius: 3px;
}

/* line 93, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/clients.css.scss */
#sheets a:hover .panel {
  background-color: #eeeeee;
  color: #1fa9dc;
}

/* line 102, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/clients.css.scss */
.lean_overlay {
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: #000;
  display: none;
}

/* line 119, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/clients.css.scss */
#service-detail {
  display: none;
  color: #293243;
  position: absolute;
  z-index: 1000;
  background-color: #fff;
  top: 0;
  left: 0;
  margin: 20px 50px;
  box-sizing: content-box;
}

@media only screen and (max-width: 500px) {
  /* line 136, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/clients.css.scss */
  #sub-nav-sticky-wrapper {
    display: none;
  }

  /* line 140, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/clients.css.scss */
  #sheets .panel {
    height: auto;
    margin-bottom: 0;
  }

  /* line 146, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/clients.css.scss */
  #sheets .panel h5,
  #sheets .panel p {
    display: none;
  }

  /* line 150, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/clients.css.scss */
  #sheets .panel a {
    display: block;
    position: relative;
    bottom: auto;
  }

  /* line 158, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/clients.css.scss */
  #content.sheet {
    padding: 10px 0;
  }

  /* line 162, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/clients.css.scss */
  .sheet .panel {
    padding: 30px;
    margin-bottom: 0;
  }

  /* line 167, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/clients.css.scss */
  #actions .c6 {
    width: 50%;
  }

  /* line 171, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/clients.css.scss */
  #actions {
    background-color: white;
    border-bottom: 1px solid #e7ecef;
    padding: 0;
  }

  /* line 177, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/clients.css.scss */
  .sheet h1 {
    margin-bottom: 0;
  }

  /* line 181, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/clients.css.scss */
  .more-help {
    text-align: center;
    padding-top: 60px;
    margin-top: 60px;
    border-top: 1px solid #e7ecef;
  }

  /* line 189, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/clients.css.scss */
  .sheet .padded {
    padding: 60px 0;
  }

  /* line 195, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/clients.css.scss */
  #client-list li a {
    padding: 30px 0 30px;
    border-bottom: 1px solid #e7ecef;
    display: block;
    background-color: #fafafa;
  }

  /* line 202, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/clients.css.scss */
  #client-list li a h1 {
    font-size: 32px;
  }

  /* line 206, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/clients.css.scss */
  #client-list li a h3 {
    margin-bottom: 0;
  }
}
/* line 6, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/advice.css.scss */
#advice-index ul li a {
  float: left;
  background-color: #fafafa;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  height: 400px;
  padding: 30px;
  display: block;
  color: #293243;
  border-radius: 3px;
  margin: 10px;
  box-shadow: 0 0 10px #000;
}

/* line 23, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/advice.css.scss */
#advice-index ul li a:hover {
  background-color: #e9e9e9;
}

/* line 27, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/advice.css.scss */
#advice-index ul li a:hover h3 {
  color: #1fa9dc;
}

/* line 34, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/advice.css.scss */
ul.inline {
  font-size: 16px;
  z-index: 100;
  overflow: hidden;
  width: 100%;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 12px;
  margin-top: 0;
}

/* line 45, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/advice.css.scss */
ul.inline li {
  margin-right: 30px;
  position: relative;
  display: inline-block;
}

/* line 51, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/advice.css.scss */
ul.inline li a {
  color: #eeeeee;
  font-weight: 700;
  display: inline-block;
}

/* line 57, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/advice.css.scss */
ul.inline li a:hover {
  color: white;
}

@media only screen and (max-width: 500px) {
  /* line 65, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/advice.css.scss */
  #advice-index .panel {
    padding: 20px;
  }

  /* line 69, /Users/steve/Dropbox/Projects/marshallhavard/app/assets/stylesheets/advice.css.scss */
  #advice-index ul {
    margin-top: 20px;
    padding-top: 15px;
  }
}
