<div class="wrapper">

	<div class="row">
		<div class="c8 s2">
			<h2>Who we can help</h2>
			
			<% @clients.each do |client| %>
				<h1><%= link_to "#{client.title}", client_path(client) %></h1>
			<% end %>

		</div>
	</div>
</div>