<div class="wrapper">

	<div class="row push-top">
		<div class="c8">
			
			<% @clients.each do |client| %>
				<h1><%= link_to "#{client.title}", client_path(client) %></h1>
			<% end %>

		</div>
	</div>

	<% if logged_in? %>
		<div class="row">
			<div class="c3">
				<%= link_to "Add a client type", new_client_path, class: "button" %>
			</div>
		</div>
	<% end %>
</div>