


	<section id="advice" class="dark padded">
		<div class="wrapper push-top">
			<div class="row no-margin">
				<div class="c8 client-list med-c12">
					<% @clients.each do |client| %> 
							<h2>	
								<%= link_to "#{client.title}", client_path(client) %>
		
							</h2>
						<% end %>
					
				</div>
				<div class="c3 s1 med-c12  med-s0">
					<p class="small">Choose the heading that best fits your situation.</p>
			</div>

			<% if logged_in? %>
				<div class="row">
					<div class="c12">
							<div class="admin-tools center small-copy push-top faded">
								<%= link_to "Add a client type", new_client_path %>
							</div>
					</div>
				</div>
			<% end %>
		
		</div>
	
	</section>







	
