

		<ul id="client-list" class="center">
			<% @clients.each do |client| %>
				<li>
					<%= link_to client_path(client) do %>
						<h1><%= client.title %></h1>
						<h3 class="faded"><%= client.headline %></h3>
					<% end %>
				</li>
			<% end %>
		</ul>


	<% if logged_in? %>
		<div class="admin-tools center small-copy push-top faded">
			<%= link_to "Add a client type", new_client_path %>
		</div>
	<% end %>
