<section id="hero" class="dark half-padded">
	<div class="wrapper push-top-half">
		<div class="row">
			<div class="c6 med-c12">
				<h2>Over 30 years of experience</h2>
				<p>Between us we've dealt with literally thousands of different small businesses, personal tax returns and various 'little questions' that everyone has from time to time.</p>
			</div>
			</div>
		</div>
	</div>
</section>



<div class="wrapper">
	<section id="team" class="padded">
		<div class="row">

			<div class="c3 med-c6 sml-c12">
				<%= image_tag('chris-bw.jpg') %>
				<h4>
					Chris Havard<br/>
					<span class="faded">Partner / Director</span>
				</h4>
				<p class="small">Chris has been with the firm since 2001, gaining a string of qualifications and a wealth of experience in the meantime – earning him the well-deserved role of Director in 2012. Splitting his time between Gosport and Cowplain, Chris provides ‘top-level’ review for all routine accounts and tax work within the firm, as well as providing more complex advice and assistance as required.</p>
			</div>

			<div class="c3 med-c6 sml-c12">
				<%= image_tag('sue-bw.jpg') %>
				<h4>
					Sue Jones<br/>
					<span class="faded">Accounts Manager</span>
				</h4>
				<p class="small">Sue was closely involved in setting up Cowplain office in 1997, bringing with her a wealth of experience from her time at Grant Thornton.</p>
			</div>

			<div class="c3 med-c6 sml-c12">
				<%= image_tag('sam-bw.jpg') %>
				<h4>
					Sam Crow<br/>
					<span class="faded">Accounts Assistant</span>
				</h4>
				<p class="small">Our newest recruit and based at Gosport, Sam is building on her accounting experience by undertaking study for professional exams.</p>
			</div>

			<div class="c3 med-c6 sml-c12">
				<%= image_tag('tony-bw.jpg') %>
				<h4>
					Tony Marshall<br/>
					<span class="faded">Founder &amp; Director</span>
				</h4>
				<p class="small">Having started the firm in 1983, Tony has recently taken a step back and now works remotely, providing team members with the benefit of his considerable experience, as and when needed.</p>
			</div>

		</div>
	</section>
</div>
