<section id="hero" class="dark half-padded">
	<div class="wrapper push-top-half">
		<div class="row">
			<div class="c6">
				<h2>Over 30 years of experience</h2>
				<p>Between us we've dealt with literally thousands of different small businesses, personal tax returns and various 'little questions' that everyone has from time to time.</p>
			</div>
			</div>
		</div>
	</div>
</section>



<div class="wrapper">
	<section id="team" class="padded">
		<div class="row">
			<div class="c4">
				<img style="width: 100%" src="assets/avatar-tony.png">
				<h3>
					Tony Marshall<br/>
					<span class="faded">Founder &amp; Partner</span>
				</h3>
				<p>Tony has been in the local accountacny scene for over 30 years. He knows everything.</p>
				<p><a href="#">@tonymarshall</a></p>
			</div>
			<div class="c4">
				<img style="width: 100%" src="assets/avatar-chris.png">
				<h3>
					Chris Havard<br/>
					<span class="faded">Partner</span>
				</h3>
				<p>Chris has been with the firm for 10 years, and has recently become partner. With this, came a change in the name, from Marshall Roche to Marshall Havard.</p>
				<p><a href="#">@chris</a></p>
			</div>
			<div class="c4">
				<img style="width: 100%" src="assets/avatar-sue.png">
				<h3>
					Sue<br/>
					<span class="faded">Accountant</span>
				</h3>
				<p>Running the Cowplain office, Sue has been with Marshall Havard for 15 years.</p>
				<p><a href="#">@sue</a></p>
			</div>
		</div>
	</section>
</div>
