

<div class="wrapper">
	<div id="google-map" style="width: 100%; height: 400px;">
	
		<iframe src="https://www.google.com/maps/d/embed?mid=zRssabwU3BDE.kNWCcHb6Ba4Y&zoom=9&center=51.0895,-1.2168" style="width: 100%; height: 400px;"></iframe>
	</div>
	<section class="half-padded">
		<div class="row">
			<div class="c4">
				<h2>Gosport Office</h2>
				<p>123 Gosport Road, <br />Gosport, <br />Portsmouth, <br />Hampshire <br />PO12 3EM <br /><a href="#">View on maps</a></p>
				<p>01234 567890 <br /> <a href="mailto:gosport@marshallhavard.com">gosport@marshallhavard.com</a></p>
			</div>

			<div class="c4">
				<h2>Cowplain Office</h2>
				<p>123 Cowplain Road, <br />Cowplain, <br />Portsmouth, <br />Hampshire <br />PO12 3EM <br /><a href="#">View on maps</a></p>
				<p>01234 567890 <br /> <a href="mailto:gosport@marshallhavard.com">gosport@marshallhavard.com</a></p>
			</div>

			<div class="c4">
				<h2>Online etc</h2>
				<p><a href="mailto:hello@marshallhavard.com">hello@marshallhavard.com</a> <br /> <a href="https://twitter.com/marshallroche">@marshallhavard</a></p>
				
			</div>

		</div>
	</section>
</div>


<script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
<script type="text/javascript">


    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 10,
      center: new google.maps.LatLng(50.840798, -1.075287),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var infowindow = new google.maps.InfoWindow();

    var marker, i;

    for (i = 0; i < locations.length; i++) {  
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: map
      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[i][0]);
          infowindow.open(map, marker);
        }
      })(marker, i));
    }
  </script>