
<%= content_for :dark, 'alt' %>

<div class="half-padded">
  <div class="wrapper push-top">
    <div class="row">
      <div class="c8 med-c12">
        <h2><strong>Contact us</strong></h2>
      </div>
    </div>
		<div class="row">
			<div class="c4 med-c6 sml-c12">
        <h4>Gosport Office</h4>
        <p class="small">
          023 9234 0770</br>
          <a href="mailto:gosport@marshallhavard.co.uk">gosport@marshallhavard.co.uk</a>
        </p>
        <div id="map-canvas" style="width: 100%; height: 300px;">
              </div>
				<p class="small">
          <br/>1 Portland Buildings<br/>
          Stoke Road<br/>
          Gosport<br/>
          Hampshire<br/>
          PO12 1JH
        </p>
			</div>

			<div class="c4 med-c6 sml-c12">
        <h4>Cowplain Office</h4>
        <p class="small">
          023 9234 0775</br>
          <a href="mailto:cowplain@marshallhavard.co.uk">cowplain@marshallhavard.co.uk</a>
        </p>
        <div id="map-canvas-1" style="width: 100%; height: 300px;">
              </div>
				<p class="small">
          <br/>77 London Road<br/>
          Cowplain<br/>
          Waterlooville<br/>
          Hampshire<br/>
          PO8 8UJ
        </p>
			</div>

			<div class="c3 s1 sml-c12 small">
        <h4>Online</h4>
        <p>If you aren't able to pop in and see us, then <a href="mailto:hello@marshallhavard.co.uk">drop us an email</a> and we will get back to you as soon as we can.</p>


        <p>On Twitter, we are <a href="https://twitter.com/marshallroche">@marshallroche</a></p>

          <p>Or subscribe to our newsletter to get a financial and economical digest each quarter as well as news and offers</p>
          <!-- Begin MailChimp Signup Form -->
          <div id="mc_embed_signup">
          <form action="//marshallhavard.us10.list-manage.com/subscribe/post?u=2d9178ba5d23a19837d7c6b33&amp;id=4b8eda362e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">
          <div class="mc-field-group">
          </label>
            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email address">
          </div>
            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;"><input type="text" name="b_2d9178ba5d23a19837d7c6b33_4b8eda362e" tabindex="-1" value=""></div>
              <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
              </div>
          </form>
          </div>

          <!--End mc_embed_signup-->
				
			</div>

		</div>
</div>



<%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyBJoaXRhpk6Php4LL4Y2DbsK5u4av77uNQ' %>
<script type="text/javascript">
var mq = window.matchMedia( "(min-width: 400px)" );

function initialize() {
  var mapOptions = {
    center: { lat: 50.793682 , lng: -1.133916},
    zoom: 13,
    scrollwheel: false,
    navigationControl: true,
    mapTypeControl: false,
    scaleControl: true,
    draggable: true,
    disableDefaultUI: false
  };
  var map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);


  // To add the marker to the map, use the 'map' property
  var marker = new google.maps.Marker({
      position: { lat: 50.793682 , lng: -1.133916},
      map: map
  });


  var mapW = $('#map-canvas').width();
  $('#map-canvas').height();

}
google.maps.event.addDomListener(window, 'load', initialize);

</script>

<script type="text/javascript">
var mq = window.matchMedia( "(min-width: 400px)" );

function initialize() {
  var mapOptions = {
    center: { lat: 50.893334 , lng: -1.019575},
    zoom: 13,
    scrollwheel: false,
    navigationControl: true,
    mapTypeControl: false,
    scaleControl: true,
    draggable: true,
    disableDefaultUI: false
  };
  var map = new google.maps.Map(document.getElementById('map-canvas-1'),
      mapOptions);


  // To add the marker to the map, use the 'map' property
  var marker = new google.maps.Marker({
      position: { lat: 50.893334 , lng: -1.019575},
      map: map
  });


  var mapW = $('#map-canvas-1').width();
  $('#map-canvas-1').height();

}
google.maps.event.addDomListener(window, 'load', initialize);

</script>
