
<div class="wrapper">

	<div class="row">
		<div class="c8 s2">

			<h1>Welcome to the new Marshall Havard website</h1>
			<p>We are currently in the process of building this. In the meantime, you can find some information on our old website <a href="http://www.marshallroche.co.uk">marshallroche.co.uk</a> or give us a call on 01234 567 890.</p>
			<p>Thanks</p>
		</div>
	</div>
</div>