
<% if logged_in? %>





	<section class="dark padded" style="height:100vh;">
		<div class="wrapper push-top">
		<div class="row">
			<div class="c6">
				<h2 style="text-align: left"><span>Hello. We are <br/><strong>Marshall Havard</strong>.</span></h2>
			</div>
		</div>
		<div class="row">
			<div class="c6">
				<p class="intro">For 30 years we have been helping clients of all types. Not only can we help you stay inside the laws, but we might also be able to save you money.</p>
				<p class="intro"><%= link_to "Find out how we can help you", clients_path %></p>
			</div>
			<div class="c3 s3 small">
				<p style="text-align:right;">
					<strong>Prefer to talk to someone?</strong><br/>
					Call us on 01234 567 890<br/>
					Or visit us at <%= link_to "one of our shops", '/contact' %>
				</p>
		</div>
		</div>
	
	</section>

	<% if logged_in? %>
		<div class="admin-tools center small-copy push-top faded">
			<%= link_to "Add a client type", new_client_path %>
		</div>
	<% end %>





	



<% else %>

<div id="landing">
	<div id="wrap">
		<div id="main">
			<h1 style="margin-top: 100px;">
				Marshall Roche
				<span>Chartered Accountants</span>
			</h1>
			<p>Due to technical issues, our web-site is currently undergoing urgent maintenance work – please call us on 023 9234 0770 if you require further assistance. We apologise for any inconvenience and look forward to welcoming you back here again soon.</p>			
		</div>
	</div>
	<div id="footer">
		<%= link_to "Log in", new_session_path %>
	</div>
</div>

<% end %>

<script type="text/javascript">
$('.expander').simpleexpand();
</script>