// Place all the styles related to the guides controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#advice-index ul li {
	width: 50%; 
	float: left; 
	border-bottom: 1px solid $main;
	background-color: #fafafa;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	height: 400px; 
	padding: 60px;
	display: block;
	color: $dark;
}

#advice-index ul li:hover  {
	background-color: $light;
}

#advice-index ul li:hover .jump-to {
	background-color: darken($main, 10%);
}




#advice-index ul li:hover a.big,
#advice-index ul li:hover .jump-to a {
	color: $dark;
}

#advice-index ul li a.big:hover,
#advice-index ul li .jump-to a:hover {
	color: $white;
}



#advice-index ul li:nth-child(2n+1) {
	border-right: 1px solid $main;
}

#advice-index ul li .jump-to {
	padding: 30px 60px;
	background-color: $light;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

#advice-index ul li .jump-to h5 {
	margin-bottom: 0;
}



@media only screen and (max-width: 500px) {

#advice-index .panel {
	padding: 20px;
}

#advice-index ul {
	margin-top: 20px;
	padding-top: 15px;
}

}