// Place all the styles related to the guides controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#advice-index ul li a {
	float: left; 
	background-color: #fafafa;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	height: 400px; 
	padding: 30px;
	display: block;
	color: $dark;
	border-radius: 3px;
	margin: 10px;
	box-shadow: 0 0 10px #000;
}

#advice-index ul li a:hover  {
	background-color: darken($light, 2);
}

#advice-index ul li a:hover h3  {
	color: $main;
}




ul.inline {
	font-size: 16px;
	z-index: 100;
    overflow: hidden;
    width: 100%;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 12px;
    margin-top: 0;
}

ul.inline li{
	margin-right: 30px;
	position:relative;
	display: inline-block;
}

ul.inline li a {
	color: $light;
	font-weight: 700;
	display: inline-block;
}

ul.inline li a:hover {
	color: $white;
}



@media only screen and (max-width: 500px) {

#advice-index .panel {
	padding: 20px;
}

#advice-index ul {
	margin-top: 20px;
	padding-top: 15px;
}

}