// Place all the styles related to the clients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#client-list h1 {
	margin-bottom: 10px;
}

#client-list li a {
	padding: 50px 0 40px;
	margin-bottom: 1px;
	display: block;
	background-color: #fafafa;
}

#client-list li a:hover {
	background-color: $main;
	color: #ffffff;
}

 








#content.sheet {
	background-color: $main;
	padding: 100px 0;
}

.sheet .panel {
	padding: 0;
	margin-bottom: 0;
}



#actions.row {
	margin-bottom: 0;
}

#actions {
	font-weight: 500;
	color: $light;
}
#actions a {
	color: $main;
}

.sheet h1 {
	margin-bottom: 0;
}

.more-help {
	text-align: center;
	padding-top: 60px;
	margin-top: 60px;
	border-top: 1px solid $border;
}


.sheet .padded {
	padding: 60px 0;
}


#sheets a {
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	-ms-transition: none;
	transition: none;
	color: $dark;
}

#sheets .panel {
	height: 300px;
	margin: 10px;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	border: 1px solid $light;
	border-radius: 3px;
}

#sheets a:hover .panel {
	background-color: $light;
	color: $main;
}





.lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}







#service-detail {
	display: none; 
	color: $dark; 
	position: absolute; 
	z-index: 1000; 
	background-color: #fff; 
	top: 0; 
	left: 0; 
	margin: 20px 50px;
	box-sizing: content-box; 
}



@media only screen and (max-width: 500px) {


#sub-nav-sticky-wrapper {
	display: none;
}

#sheets .panel {
	height: auto;
	margin-bottom: 0;
}

#sheets .panel h5,
#sheets .panel p {
	display: none;
}

#sheets .panel a {
	display: block;
	position: relative;
	bottom: auto;
}



#content.sheet {
	padding: 10px 0;
}

.sheet .panel {
	padding: 30px;
	margin-bottom: 0;
}

#actions .c6 {
	width: 50%;
}

#actions {
	background-color: $white;
  	border-bottom: 1px solid $border;
  	padding: 0;
}

.sheet h1 {
	margin-bottom: 0;
}

.more-help {
	text-align: center;
	padding-top: 60px;
	margin-top: 60px;
	border-top: 1px solid $border;
}


.sheet .padded {
	padding: 60px 0;
}



#client-list li a {
	padding: 30px 0 30px;
	border-bottom: 1px solid $border;
	display: block;
	background-color: #fafafa;
}

#client-list li a h1 {
	font-size: 32px;
}

#client-list li a h3 {
	margin-bottom: 0;
}


}
