


form {
	width: 100%;
	color: $dark;
}

form h2 {
	padding-left: 15px;
}

#mc_embed_signup form h2 {
	padding-left: 0;
}

form p {
	width: 100%;
	font-size: 14px;
	margin: 10px 0;
	color: lighten($dark, 40)
}

form section {
	margin-bottom: 50px;
}

label {
	padding: 25px 0 5px;
	display: inline-block;
	font-weight: 500;
}

input,
textarea,
select {
	font-family: "museo-sans", sans-serif;
	font-size: 16px;
	color: $dark;
	width: 100%;
	padding: 10px;
	border: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
    border: 1px solid #ddd;
}

select,
input {
	height: 60px;
}

input.button {
	width: auto;
	border: none;
	height: auto;
}

textarea {
	height: 300px;
}

input:focus,
textarea:focus { 
	outline: none;
    background-color: lighten($main, 40% );
    border: 1px solid $main;
}

input.boolean {
	width: 30px;
	height: auto;
}

