
* {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		 -moz-box-sizing: border-box;    /* Firefox, other Gecko */
					box-sizing: border-box; 
	margin: 0;
	padding: 0;
}

html {
  height: 100%;
}

img {
  width: 100%;
}





.push-top {
  margin-top: 5em;
}

.half-padded {
  padding: 40px 0;
}

.padded {
  padding: 80px 0;
}

.big-padded {
  padding: 220px 0 20px;
}



.wrapper {
	max-width: 1400px;
	padding: 0 60px;
	margin: 0 auto;
}

.dark-bg {
	background-color: $main;
}

.panel-alt {
	background-color: darken($dark, 5%);
	color: darken($light, 30%);
	padding: 30px;
	font-size: 16px;
}

.panel-alt p:last-child {
	margin-bottom: 0;
}


header {
	color: $dark;
	overflow: hidden;
	z-index: 300;
  position: absolute;
  padding: 25px 20px;
  width: 100%;
  font-size: 14px;

}

header.alt {
  background-color: $dark;
  color: $white;
  background: $dark; 
  background: -webkit-linear-gradient($dark, #193c5d); 
  background: -o-linear-gradient($dark, #193c5d);
  background: -moz-linear-gradient($dark, #193c5d); 
  background: linear-gradient($dark, #193c5d); 
}

header #logo {
  float: left;
}

header nav {
	float: right;
}

header nav li {
	float: left;
	font-size: 14px;
  margin-right: 15px;
}

header a {
	color: $white;
	font-weight: 500;
	padding: 10px 0 2px;
	display: inline-block;
  border-bottom: 2px solid transparent;
}

header a:hover,
header a.selected {
  border-bottom: 2px solid $white;
  color: $white;
  opacity: 0.7;
}

header #logo {
	display: inline-block;
	margin: 0;
}

header #logo a {
  background-image: url('../assets/MH-logo.png');
  width: 119px;
  height: 36px;
  background-size: 119px 36px;
  text-indent: -9999px;
  padding: 0;
}

header #logo a:hover {
  border-bottom: none;
}

header .right {
	float: right;
	margin-left: 20px;
}

header .row {
	margin-bottom: 0;
}

header .btn {
  float: right;
  border: 2px solid $white;
  color: $white;
}

header .phone {
  float: right;
  margin-right: 20px;
  padding-top: 10px;
}

.btn {
  padding: 8px 10px;
  border: 2px solid $main;
  color: $main;
  border-radius: 3px;
}

.btn:hover {
  background-color: $main;
  color: $white;
}








footer {
	background-color: $white;
	padding: 2em 0;
}

footer .row {
	margin-bottom: 0;
}

footer a {
	color: $white;
	font-size: 13px;
	text-transform: uppercase;
	display: block;
	padding: 7px 0;
}

footer .clients a {
	color: lighten($dark, 45);
}

footer a:hover,
footer .clients a:hover {
	color: $main;
}

#newsletter {
	width: 100%;
	font-size: 16px;
	overflow: hidden;
  border-radius: 3px;
}

#newsletter .mc-field-group input {
	width: 60%;
	float: left;
}

#newsletter .button {
	width: 30%;
	float: left;
	margin: 0;
}



#logo-small {
  display: inline-block;
  margin: 60px 0;
}

#logo-small a {
  background-image: url('../assets/marshall-havard.png');
  width: 40px;
  height: 40px;
  text-indent: -9999px;
  padding: 0;
  display: block;
}


#logo-medium {
  display: inline-block;
  margin: 60px 0;
}

#logo-medium a {
  background-image: url('../assets/marshall-havard-medium.png');
  width: 69px;
  height: 69px;
  text-indent: -9999px;
  padding: 0;
  display: block;
}

#logo-large {
  display: inline-block;
  margin: 60px 0;
}

#logo-large a {
  background-image: url('../assets/marshall-havard-large.png');
  width: 135px;
  height: 135px;
  text-indent: -9999px;
  padding: 0;
  display: block;
}


.success,
.error,
.summary {
	font-size: 14px;
	color: #fff;
	padding: 10px 5px;
	background-color: $dark;
}

.success p,
.error p,
.summary p {
  margin-bottom: 0;
}


a.small {
	font-size: 12px;
	text-transform: uppercase;
}

a.danger {
	background-color: #d1440c;
}

a.danger:hover {
	background-color: $dark;
}


.panel {
  padding: 30px;
  background-color: #ffffff;
  margin-bottom: 20px;
  overflow: hidden;
}

.summary .panel {
	background-color: #000;
}


.breadcrumbs,
.share {
	padding-top: 30px;
	font-size: 14px;
}

.share {
	text-align: right;
}


.nav-previous a,
.nav-next a {
	height: 100%;
	width: 100%;
	display: inline-block;
	background-color: $light;
}


.sub-nav li {
  font-size: 14px;
  margin-bottom: 10px;
}

.sub-nav li a.selected {
  border-bottom: none;
}


a.selected {
  color: #a2adb0;
}

.border-top {
  border-top: 1px solid #dde2e4;
  padding-top: 2em;
}

.small-copy {
  font-size: 16px;
}



#big-menu-content {
	text-align: center;
	font-size: 2em;
	padding-top: 40px;
}

.twitter {
	background-image: url('../assets/twitter.png');
	width: 31px;
	height: 25px;
	display: inline-block;
	text-indent: -9999px;
	margin-top: 25px;
}





#hero {
  padding-top: 120px;
	overflow: hidden;
}

#hero h1 {
	color: #fff;
}

#hero h1.narrow {
	width: 600px;
}

#hero p {
  font-weight: 300;
}








.top {
	display: none;
	float: right;
}

#features .image {
	height: 200px;
}

#features .first,
#features .second,
#features .third {
	padding: 180px 0;
	overflow: hidden;
}

#features .first .image {
	background: url('../assets/first-illustration.png') top center no-repeat;
}

#features .second .image {
	background: url('../assets/first-illustration.png') top center no-repeat;
}

#features .third .image {
	background: url('../assets/first-illustration.png') top center no-repeat;
}



section {
	margin-bottom: 0px;
}

.dark {
	background-color: $dark;
	color: $white;
  background: $dark; 
  background: -webkit-linear-gradient($dark, darken($main, 20)); 
  background: -o-linear-gradient($dark, darken($main, 20));
  background: -moz-linear-gradient($dark, darken($main, 20)); 
  background: linear-gradient($dark, darken($main, 20)); 
}

.dark a {
  color: $white;
}

.intro a {
  @include transition(color 0.25s);
}

.dark a:hover {
  color: $main;
  border-bottom: 2px solid $main;
}

.blue {
	background-color: $main;
	color: $white;
}

.secondary {
	background-color: $secondary;
	color: $white;
}

.tertiary {
	background-color: $tertiary;
	color: $white;
}

.light {
	background-color: $light;
}

.clear {
  clear: both;
}

.panel-alt {
	padding: 30px;
	font-size: 16px;
}

.panel-alt p:last-child {
	margin-bottom: 0;
}

.dark .panel-alt {
	background-color: darken($dark, 5%);
	color: darken($light, 30%);
}

.secondary .panel-alt {
	background-color: darken($secondary, 5%);
	color: lighten($secondary, 30%);
}

.secondary .panel-alt a {
	color: $white;
}

.blue .panel-alt {
	background-color: darken($main, 5%);
	color: darken($light, 10%);
}

.blue .panel-alt a {
	color: $dark;
}

.light .panel-alt {
	background-color: darken($light, 5%);
	color: lighten($dark, 10%);
}




#advice ul li {
}



.admin-tools {
	margin-bottom: 40px;
}





@media screen and (min-width: 900px) {
  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
}


@media only screen and (max-width: 900px) {

.wrapper {
	padding: 0 10px;
}


h1 {
	font-size: 42px;
}

nav.nav-collapse {
	width: 100%;
}

nav.nav-collapse ul {
  margin: 25px 0 0;
  padding: 20px 0;
  width: 100%;
  display: block;
  list-style: none;
  overflow: hidden;
  background-color: $white;
}

nav.nav-collapse ul li {
  width: 100%;
  display: block;
  margin-left: 0;
  text-align: center;
}

nav.nav-collapse ul li a {
  width: 100%;
  display: block;
  padding:30px;
  color: $dark;
}



.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
}

.disable-pointer-events {
  pointer-events: none !important;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  float: right;
  color: $main;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
}

.nav-toggle:hover {
	color: $dark;
}




#hero h1.narrow {
	width: 92%;
}


#hero p {
	width: 92%;
}


footer .c3 {
	width: 50%;
}


#newsletter {
	margin-top: 20px;
	padding: 15px;
}



}




@media screen and ( max-height: 650px ){

	#big-menu-content {
	text-align: center;
	font-size: 1.5em;
	padding-top: 0;
}

}



/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxWrapper {max-width:none;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0; padding:0; margin:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:url(../assets/overlay.png) repeat 0 0; opacity: 1; filter: alpha(opacity = 100);}
#colorbox{outline:0;}
    #cboxBottomCenter{height:21px; }
    #cboxContent{background:#fff; overflow:hidden;}
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{margin-bottom:28px;}
        #cboxTitle{position:absolute; bottom:4px; left:0; text-align:center; width:100%; color:#949494;}
        #cboxCurrent{position:absolute; bottom:4px; left:58px; color:#949494;}
        #cboxLoadingOverlay{background:url(../assets/loading_background.png) no-repeat center center;}
        #cboxLoadingGraphic{background:url(../assets/loading.gif) no-repeat center center;}

        /* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
        #cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible; width:auto; background:none; }
        
        /* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
        #cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}

        #cboxSlideshow{position:absolute; top:4px; right:30px; color:#0092ef;}
        #cboxPrevious{position:absolute; top:0; left:0; background:url(../assets/controls.png) no-repeat -75px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxPrevious:hover{background-position:-75px -25px;}
        #cboxNext{position:absolute; top:0; left:27px; background:url(../assets/controls.png) no-repeat -50px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxNext:hover{background-position:-50px -25px;}
        #cboxClose{position:absolute; top:0; right:0; background:url(../assets/controls.png) no-repeat -25px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxClose:hover{background-position:-25px -25px;}

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to or needed in IE9.
  See: http://jacklmoore.com/notes/ie-transparency-problems/
*/
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}





