
* {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		 -moz-box-sizing: border-box;    /* Firefox, other Gecko */
					box-sizing: border-box; 
	margin: 0;
	padding: 0;
}


body {
	font-family: "museo-sans", sans-serif;
	color: $dark;
	background-color: #fafafa;
	-webkit-font-smoothing: antialiased;
	font-weight: 500;
	height: 100%;
	font-size: 18px;
	line-height: 1.6;
}

h1 {
	font-size: 2em;
	font-weight: 700;
	margin-bottom: 1em;
	line-height: 1.2;
}

h2 {
	font-size: 1.333em;
	font-weight: 700;
	margin: 2em 0 2em;
}

h3 {
	text-transform: uppercase;
	font-weight: 900;
	margin-bottom: 10px;
}

p {
	font-size: 1em;
	margin-bottom: 2em;
}

a,
input.button {
	text-decoration: none;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	color: $main;
}

em {
	font-style: italic;
}

strong {
	font-weight: 900;
}

a:hover {
	color: $dark;
}

a.button,
input.button {
	background-color: $main;
	color: #ffffff;
	padding: 20px;
	font-size: 12px;
	text-transform: uppercase;
	border-radius: 3px;
	font-weight: 700;
	margin: 30px 0;
	display: inline-block;
	cursor: pointer;
}

a.button:hover,
input.button:hover {
	background-color: darken( $main, 5% );
	color: #fff;
}



.wrapper {
	max-width: 1300px;
	padding: 0 60px;
	margin: 0 auto;
}



header {
	background-color: #fff;
	color: $dark;
	overflow: hidden;
}

header nav {
	float: right;
}

header nav li {
	float: left;
	text-transform: uppercase;
	font-size: 12px;
}

header a {
	color: $dark;
	font-weight: 700;
	padding: 30px 20px;
	display: inline-block;
}

header a:hover,
header a.selected {
	color: $main
}

header #logo {
	text-transform: uppercase;
	float: left;
	font-weight: 900;
}

header #twitter {
	float: right;
	margin-left: 20px;
}

header #twitter a {
	background-image: url('../assets/twitter.png');
	background-size: 20px 15px;
	width: 20px;
	height: 15px;
	display: block;
}

header .row {
	margin-bottom: 0;
}

footer {
	background-color: $dark;
	color: #ffffff;
	padding: 2em 0;
}

footer a {
	color: #ffffff;
	font-size: 0.75em;
	text-transform: uppercase;
}




.success,
.error {
	font-size: 14px;
	color: #fff;
	padding: 5px;
	background-color: $dark;
	padding-left: 5px;
	padding-right: 5px; 
}






#hero {
	padding-left: 5px;
	padding-right: 5px; 
	background-color: $main;
	overflow: hidden;
}

#hero h1 {
	font-size: 42px;
	color: #fff;
	width: 400px;
}

#hero p {
	font-size: 18px;
	color: lighten($main,40%);
	width: 70%;
}

#hero nav li {
	float: left;
	margin-right: 30px;
}

#hero nav a {
	color: #ffffff;
	font-weight: 700;
	border-bottom: 1px solid #ffffff;
}




@media screen and (min-width: 900px) {
  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
}


@media only screen and (max-width: 900px) {

	.wrapper {
		padding: 0 10px;
	}

	nav {
		width: 100%;
	}

	nav ul {
  margin: 0;
  padding: 20px 0;
  width: 100%;
  display: block;
  list-style: none;
  overflow: hidden;
}

nav ul li {
  width: 100%;
  display: block;
  margin-left: 0;
  text-align: center;
}

nav ul li a {
  width: 100%;
  display: block;
  padding:30px;
}



.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
}

.disable-pointer-events {
  pointer-events: none !important;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  float: right;
  color: #fff;
}







}


