
* {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		 -moz-box-sizing: border-box;    /* Firefox, other Gecko */
					box-sizing: border-box; 
	margin: 0;
	padding: 0;
}

html {
  height: 100%;
}

body {
	font-family: "museo-sans", sans-serif;
	color: $dark;
	background-color: #fafafa;
	-webkit-font-smoothing: antialiased;
	font-weight: 500;
	height: 100%;
	font-size: 18px;
	line-height: 1.6;
  height: 100%;
}

h1 {
	font-size: 2em;
	font-weight: 700;
	margin-bottom: 1em;
	line-height: 1.2;
}

h2 {
	font-size: 1.333em;
	font-weight: 700;
	margin: 2em 0 2em;
}

h3 {
	text-transform: uppercase;
	font-weight: 900;
  font-size: 14px;
	margin-bottom: 10px;
}

h4 {
  font-weight: 700;
}

p {
	font-size: 1em;
	margin-bottom: 2em;
}

p.no-margin {
	margin-bottom: 0;
}

a,
input.button {
	text-decoration: none;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	color: $main;
  outline: 0;
  font-weight: 700;
}

em {
	font-style: italic;
}

strong {
	font-weight: 900;
}

a:hover {
	color: $dark;
}

a.button,
input.button {
	background-color: $main;
	color: #ffffff;
	padding: 20px;
	font-size: 12px;
	text-transform: uppercase;
	border-radius: 3px;
	font-weight: 700;
	margin: 30px 0;
	display: inline-block;
	cursor: pointer;
}

a.button:hover,
input.button:hover {
	background-color: darken( $main, 5% );
	color: #fff;
}



.wrapper {
	max-width: 1300px;
	padding: 0 60px;
	margin: 0 auto;
}



header {
	background-color: #fff;
	color: $dark;
	overflow: hidden;
}

header nav {
	float: right;
}

header nav li {
	float: left;
	text-transform: uppercase;
	font-size: 12px;
}

header a {
	color: $dark;
	font-weight: 700;
	padding: 30px 20px;
	display: inline-block;
}

header a:hover,
header a.selected {
	color: $main
}

header #logo {
	display: inline-block;
	margin: 18px 0;
}

header #logo a {
	background-image: url('../assets/marshall-havard.png');
	width: 40px;
	height: 40px;
	text-indent: -9999px;
	padding: 0;
}

header .right {
	float: right;
	margin-left: 20px;
}

header .row {
	margin-bottom: 0;
}

footer {
	background-color: $dark;
	color: #ffffff;
	padding: 2em 0;
}

footer a {
	color: #ffffff;
	font-size: 0.75em;
	text-transform: uppercase;
}

footer a:hover {
	color: #bbbbbb;
}


#logo-small {
  display: inline-block;
  margin: 60px 0;
}

#logo-small a {
  background-image: url('../assets/marshall-havard.png');
  width: 40px;
  height: 40px;
  text-indent: -9999px;
  padding: 0;
  display: block;
}


#logo-medium {
  display: inline-block;
  margin: 60px 0;
}

#logo-medium a {
  background-image: url('../assets/marshall-havard-medium.png');
  width: 69px;
  height: 69px;
  text-indent: -9999px;
  padding: 0;
  display: block;
}

#logo-large {
  display: inline-block;
  margin: 60px 0;
}

#logo-large a {
  background-image: url('../assets/marshall-havard-large.png');
  width: 135px;
  height: 135px;
  text-indent: -9999px;
  padding: 0;
  display: block;
}


.success,
.error {
	font-size: 14px;
	color: #fff;
	padding: 10px 5px;
	background-color: $dark;
}

.success p,
.error p {
  margin-bottom: 0;
}


a.danger {
	background-color: #d1440c;
}

a.danger:hover {
	background-color: $dark;
}


.panel {
  padding: 30px;
  background-color: #eaeef1;
  border-radius: 5px;
}


.share {
  margin: 20px 0 22px;
  height: 60px;
}

nav.related {
  font-size: 16px;
}

nav.related li a {
  font-size: 16px;
  padding: 5px 0;
  display: block;
}

nav.related a.selected {
  color: #a2adb0;
}

.border-top {
  border-top: 1px solid #dde2e4;
  padding-top: 2em;
}

.small-copy {
  font-size: 16px;
}



#big-menu-content {
	text-align: center;
	font-size: 2em;
	padding-top: 40px;
}

.twitter {
	background-image: url('../assets/twitter.png');
	width: 31px;
	height: 25px;
	display: inline-block;
	text-indent: -9999px;
	margin-top: 25px;
}





#hero {
	padding-left: 5px;
	padding-right: 5px; 
	background-color: $main;
	overflow: hidden;
}

#hero h1 {
	font-size: 42px;
	color: #fff;
	width: 400px;
}

#hero p {
	font-size: 18px;
	color: lighten($main,40%);
	width: 70%;
}

#hero nav li {
	float: left;
	margin-right: 30px;
}

#hero nav a {
	color: #ffffff;
	font-weight: 700;
	border-bottom: 1px solid #ffffff;
}




@media screen and (min-width: 900px) {
  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
}


@media only screen and (max-width: 900px) {

	.wrapper {
		padding: 0 10px;
	}

	nav {
		width: 100%;
	}

	nav ul {
  margin: 0;
  padding: 20px 0;
  width: 100%;
  display: block;
  list-style: none;
  overflow: hidden;
}

nav ul li {
  width: 100%;
  display: block;
  margin-left: 0;
  text-align: center;
}

nav ul li a {
  width: 100%;
  display: block;
  padding:30px;
}



.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
}

.disable-pointer-events {
  pointer-events: none !important;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  float: right;
  color: $main;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
}

.nav-toggle:hover {
	color: $dark;
}







}




@media screen and ( max-height: 650px ){

	#big-menu-content {
	text-align: center;
	font-size: 1.5em;
	padding-top: 0;
}

}


