

#landing {
  background-color: $main;
  width: 100%;
  height: 100%;
}

#landing h1 {
}

#landing h1 span {
  color: #ffffff;
  display: block;
  font-weight: 300;
}

#landing p {
  width: 67%;
  color: lighten($main,40%);
}

#landing p a {
  color: #ffffff;
  border-bottom: 1px solid #fff;
}

#landing p a:hover {
  color: $dark;
  border-bottom: 1px solid $dark;
}


#landing #wrap {
  min-height: 100%;
  max-width: 1300px;
  padding: 0 60px;
  margin: 0 auto;
}

#landing #main {
  overflow:auto;
  padding-bottom: 60px;
  }

#landing #footer {
  position: relative;
  height: 60px;
  clear:both;
  max-width: 1300px;
  padding: 0 60px;
  margin: -60px auto 0;
} 

  #landing #footer a {
    color: $dark;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
  }

    #landing #footer a:hover {
    color: #ffffff;
  }