
div.service-box {
	overflow: visible;
}

div.service-box a {
	color: $white;
	font-weight: 300;
	height: 100px;
	width: 100%;
	display: inline-block;
	padding: 15px;
	border-right: 1px solid $light;
	border-bottom: 1px solid $light;
	background-color: $tertiary;
  position: relative;
}

div.service-box a:hover {
	background-color: darken($tertiary, 5);
}

div.service-box p {
	margin-bottom: 0;
}



#service-content {
	text-align: center;
}

.pagination a {
	color: $white;
}