
div.service-box {
	overflow: visible;
}

div.service-box a {
	color: $dark;
	font-weight: 300;
	height: 100px;
	width: 100%;
	display: inline-block;
	padding: 15px;
	border-right: 1px solid #fafafa;
	border-bottom: 1px solid #fafafa;
	background-color: #ffffff;
  position: relative;
}

div.service-box a:hover {
	background-color: $main;
	color: $white;	
}

div.service-box p {
	margin-bottom: 0;
}



#service-content {
	text-align: center;
}

.pagination a {
	color: $white;
}