
div.service-box {
	overflow: visible;
}

div.service-box a {
	color: $white;
	font-weight: 300;
	font-size: 16px;
	height: 60px;
	width: 50%;
	float: left;
	display: inline-block;
	padding: 15px;
	border-right: 1px solid #fafafa;
	border-bottom: 1px solid #fafafa;
	background-color: lighten($main, 20%);
  position: relative;
}

div.service-box a:hover {
	color: $white;
	
}

div.service-box p {
	margin-bottom: 0;
}


div.service-box div.service-description {
  padding: 0;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}

div.service-box:hover div.service-description {
  display: block;
  opacity: 1;
  visibility: visible;
  z-index: 1000;
}

#service-content {
	text-align: center;
}

.pagination a {
	color: $white;
}