<div class="wrapper">
	
	<div class="row push-top">
		<div class="c8">
		<% @guides.each do |guide|%>
			<div class="c3">
				<div class="border-top small-copy">
					<h4><%= link_to guide.title, guide_path(@guide) %></h4>
					<p><%= raw guide.summary %></p>
				</div>
			</div>
		<% end %>


		</div>
		<div class="c3 s1">

			<div class="share">
				<h4>Share this help sheet</h4>
				<a class="twitter-share-button" href="https://twitter.com/share"
				  data-related="twitterdev"
				  data-size="large"
				  data-count="none">
				Tweet
				</a>
			</div>
			

		</div>

	</div>

</div>


<script>
	window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
</script>