<div class="wrapper">

	<div class="row push-top">	
		<% @guides.each do |guide| %>
			<div class="c3">
				<h2><%= link_to "#{guide.title}", guide_url(guide) %></h2>
				<p><%= raw guide.summary %></p>
			</div>
		<% end %>

	</div>

	<div class="row">
		<div class="c12">
			<%= link_to "Add a help sheet", new_guide_path, class: "button" %>
		</div>		
	</div>
</div>