<div class="wrapper">

	<div class="row">
		<div class="c8 s2">
			<h2>Help sheets <%= link_to "Add a help sheet", new_guide_path %></h2>
			

			<% @guides.each do |guide| %>
				<h1><%= link_to "#{guide.title}", guide_path(guide) %></h1>
				<p><%= guide.body %></p>
			<% end %>
		</div>
	</div>
</div>