<div class="wrapper">
	
	<div class="row hero">
		<div class="c8 s2">
			<h1><%= @guide.title %></h1>
			<p><%= @guide.body %></p>
			<%= link_to "Edit", edit_guide_path(@guide) %>
		</div>
	</div>
</div>