

<header>
	<div class="wrapper">
		<div class="row">
			<div class="c12">
				<div id="logo">
					<%= link_to "Marshall Havard", root_path %>
				</div>
				<div class="right">
					<a class="popup-modal-dismiss" href="#">Dismiss</a>
				</div>
			</div>
		</div>
	</div>
</header>


<div id="content">
	<%= yield %>
</div>


